<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{empfName}}</title>
    <link rel="icon" href="images/images.jpg">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>     
    {{>navbar}}
    <div class="home">
        <img src="images/images.jpg" alt="YY"/>
        <h1 style="text-align: center;">Employee Details</h1>
        <div class="details">
            <div class="det">firstname : {{empfName}}</div>
            <div class="det">lastName : {{emplName}}</div>
            <div class="det">email : {{empEmail}}</div>
            <div class="det">phone : {{empPhone}}</div>
            <div class="det">Age : {{empAge}}</div>
            <div class="det">Gender : {{empGender}}</div>
        </div>

    </div>
    {{>footer}}
</body>
</html>